@font-face {
font-family:"Ubuntu";
src: url("https://mellomuffin.github.io/website-practice/ubuntu-regular.ttf") format("truetype");
}
body{
background-color: #4e7cc7
color: #7bd5e3
font-family: 'Ubuntu';
font-weight: 'normal';
font-style: 'normal';
}
